.support-form{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.ticket-card{

    margin-top:20px;

    padding:20px;

    border-radius:15px;

    background:white;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}